[submodule "omero-figure"]
	path = omero-figure
	url = https://github.com/snoopycrimecop/omero-figure
	branch = master
[submodule "minimal-omero-client"]
	path = minimal-omero-client
	url = https://github.com/snoopycrimecop/minimal-omero-client
	branch = master
[submodule "scripts"]
	path = scripts
	url = https://github.com/snoopycrimecop/scripts
	branch = develop
[submodule "omero-test-infra"]
	path = omero-test-infra
	url = https://github.com/snoopycrimecop/omero-test-infra
	branch = master
[submodule "omero-prometheus-tools"]
	path = omero-prometheus-tools
	url = https://github.com/snoopycrimecop/omero-prometheus-tools.git
	branch = master
[submodule "omero-parade"]
	path = omero-parade
	url = https://github.com/snoopycrimecop/omero-parade.git
	branch = master
[submodule "omero-mapr"]
	path = omero-mapr
	url = https://github.com/snoopycrimecop/omero-mapr.git
	branch = master
[submodule "omero-fpbioimage"]
	path = omero-fpbioimage
	url = https://github.com/snoopycrimecop/omero-fpbioimage
	branch = master
[submodule "omero-iviewer"]
	path = omero-iviewer
	url = https://github.com/snoopycrimecop/omero-iviewer
	branch = master
[submodule "omero-gallery"]
	path = omero-gallery
	url = https://github.com/snoopycrimecop/omero-gallery
	branch = master
[submodule "rOMERO-gateway"]
	path = rOMERO-gateway
	url = https://github.com/snoopycrimecop/rOMERO-gateway
	branch = master
[submodule "omero-weberror"]
	path = omero-weberror
	url = https://github.com/snoopycrimecop/omero-weberror
	branch = master
[submodule "omero-cli-render"]
	path = omero-cli-render
	url = https://github.com/snoopycrimecop/omero-cli-render
	branch = master
[submodule "omero-cli-duplicate"]
	path = omero-cli-duplicate
	url = https://github.com/snoopycrimecop/omero-cli-duplicate
	branch = master
[submodule "omero-metadata"]
	path = omero-metadata
	url = https://github.com/snoopycrimecop/omero-metadata
	branch = master
[submodule "omero-webtest"]
	path = omero-webtest
	url = https://github.com/snoopycrimecop/omero-webtest
	branch = master
[submodule "omero-upload"]
	path = omero-upload
	url = https://github.com/snoopycrimecop/omero-upload
[submodule "omero-virtual-microscope"]
	path = omero-virtual-microscope
	url = https://github.com/snoopycrimecop/omero-virtual-microscope
[submodule "omero-rois"]
	path = omero-rois
	url = https://github.com/snoopycrimecop/omero-rois
[submodule "omero-signup"]
	path = omero-signup
	url = https://github.com/snoopycrimecop/omero-signup
[submodule "omero-web-zarr"]
	path = omero-web-zarr
	url = https://github.com/snoopycrimecop/omero-web-zarr
	branch = main
[submodule "omero-cli-zarr"]
	path = omero-cli-zarr
	url = https://github.com/snoopycrimecop/omero-cli-zarr
